.vscode/
__pycache__/
pytorch_tutorials/
pyvista_tutorials/
drivaer_data/
numerical_geometry.egg-info
download_script.sh

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db